<div class="sticky-menu-wrapper on">
  <div class="sticky-menu">
    <a href="http://www.peter-slattery.com#evotable"><h2 class="menu-btn">Work</h2></a>
    <a href="http://www.peter-slattery.com#about"><h2 class="menu-btn">About</h2></a>
    <a href="http://www.peter-slattery.com"><h1 class="menu-btn">Peter Slattery</h1></a>
    <a href="http://peter-slattery.github.io"><h2 class="menu-btn">Blog</h2></a>
    <a href="http://www.peter-slattery.com#contact"><h2 class="menu-btn">Contact</h2></a>
  </div>
</div>